<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<form action="/users">
    <label for="firstname">Firstname:
        <input type="text" name="firstname" id="firstname"  th:value="${filter.firstname()}">
    </label><br>
    <label for="lastname">Lastname:
        <input type="text" name="lastname" id="lastname" th:value="${filter.lastname()}">
    </label><br>
    <label for="birthDate">BirthDate:
        <input type="date" name="birthDate" id="birthDate" th:value="${filter.birthDate()}">
    </label><br>
    <div>
        <label for="page">Page:
            <input type="number" name="page" id="page" th:value="${users.metadata.page}">
        </label><br>
        <label for="size">BirthDate:
            <input type="number" name="size" id="size" th:value="${users.metadata.size}">
        </label><br>
    </div>
    <button type="submit">Filter</button>
</form>

<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.content}}" th:text="|${user.content}|">text</a>
</div>

</body>
</html>