<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<form action="/users">
    <label for="firstname">Firstname:
        <input type="text" name="firstname" id="firstname">
    </label><br>
    <label for="lastname">Lastname:
        <input type="text" name="lastname" id="lastname">
    </label><br>
    <label for="birthDate">BirthDate:
        <input type="date" name="birthDate" id="birthDate">
    </label><br>
    <button type="submit">Filter</button>
</form>

<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id}.  ${user.username}|">text</a>
</div>

</body>
</html>